[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
requests = "*"
tweepy = "*"
pandas = "*"
python-dotenv = "*"
sklearn = "*"
flask-migrate = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
